.total{
    background-color: gold;
    display: flex;
    justify-Content: center;
    align-Items: center;
}

.cart {
    background-color: lightyellow;
    align-content: center;
    border: 3px solid brown;
    text-align: center;
  }